.confirm-container{
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.strajk-logo--confirm {
    width: 5rem;
}

.title--confirm {
    font-size: 1rem;
}

.confirm__form {
    margin-top: 5%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bookin__form--when {
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 1rem;
}

.confirm__form--what {
    width: 80%;
}

h3 {
    margin-top: 0.7rem;
}

.confirm__detail {
    border: 2px solid #340D6D;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;
}

.confirm__total {
    margin-top: 10%;
    width: 80%;
    padding: 0.5rem;
    border: #EC315A 2px solid;
    border-radius: 5px;
    color: #EC315A;

    display: flex;
    justify-content: space-between;
}

.confirm__total--bold {
    font-weight: 800;
}

.confirm__btn {
    background-color: #EC315A;
    color: white;
    padding: 0.5rem 1rem;
    width: 80%;
    border-radius: 5px;
}

/* NO BOOKING FOUND */

.no-booking {
    margin-top: 50%;
    color: #EC315A;
    font-size: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}